*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* utility */
.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    overflow: auto;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.center{
    justify-content: center;
}

.space-b{
    justify-content: space-between;
}

.al-self{
    align-self: center;
}

.al-it-center{
    align-items: center;
}

.flex-end{
    align-items: flex-end;
}

.wrap{
    flex-wrap: wrap;
}

.person-cam{
    flex-basis: calc(100%/7 - 5px);
    margin-bottom: 5px;
}

img{
    display: block;
    width: 100%;
}

#green{
    color: green;
}


/* v-h */
.box-vh{
    height: 100vh;
    width: 100vw;
}

/* proporzioni */
main{
    height: 90%;
    background-color: black;
}

footer{
    height: 10%;
    background-color: #222222;
}


/* etichette top right */
#top-right{
    top: 40px;
    right: 0;
    color: white;
    z-index: 2;
}

.top-right{
    font-size: 15px;
    background-color: gray;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}

/* etichetta pinco pallo */
.pinco{
    bottom: 10px;
    color: white;
    background-color: rgba(32, 32, 32, 0.4);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
}

.fa-microphone-slash{
    font-size: 15px;
}


/* footer */
i{
    font-size: 30px;
    margin-bottom: 10px;
}

#foot{
    color: white;
}

.unit{
    margin-right: 15px;
}

#arrow{
    font-size: 20px;
}

#foot-center,
#foot-left{
    text-align: center;
}

#foot-left{
    padding-left: 10px;
}

#foot-right{
    background-color: #383737;
    color: red;
    padding: 0 30px;
}

